# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
.pdm-build/
*.egg-info/
*.egg

# Testing / coverage
htmlcov/
.coverage
.coverage.*
coverage/
.pytest_cache/
tox/

# Type checking
.mypy_cache/

# Virtual environments
.venv
venv/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db